{deps, [
    {nitrogen_core, "2.1.0", {git, "git://github.com/MrStaticVoid/nitrogen_core.git", "HEAD"}},
    {nprocreg, "0.2.0", {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
    {simple_bridge, "1.2.0", {git, "git://github.com/nitrogen/simple_bridge.git", "HEAD"}},
    {sync, "0.1", {git, "git://github.com/MrStaticVoid/sync.git", "HEAD"}},
    {bcrypt, "0.5.0", {git, "git://github.com/smarkets/erlang-bcrypt.git", "HEAD"}},
    {gen_smtp, "0.1", {git, "git://github.com/Vagabond/gen_smtp.git", "HEAD"}},
    {yaws, "1.95", {git, "git://github.com/klacke/yaws.git", "HEAD"}}
]}.

{erl_opts, [{i, "/usr/lib"}, debug_info]}.

{port_envs, [{"CC", "gcc"}]}.
