<!DOCTYPE html>
<html>
    <head>
        <title>What's for Dinner? - [[[page:title()]]]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"> 
        <script type="text/javascript" src="/nitrogen/jquery.js"></script>
        <script src='/custom.js' type='text/javascript' charset='utf-8'></script>
        <script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
        <script type="text/javascript" src="/nitrogen/bert.js"></script>
        <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/nitrogen_jqm.js' type='text/javascript' charset='utf-8'></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="/custom.css" />
    </head>

    <body>
        <div data-role="page" id="pagediv" data-code="[[[mobile_script]]]">
            [[[page:header()]]]

            <div data-role="content">
                [[[page:content()]]]
            </div>

            [[[page:footer()]]]
        </div>
    </body>
</html>
