<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>pkgblender - [[[page:title()]]]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable=no,width=device-width" />
        <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
        <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="/nitrogen/nitrogen.css" />
        <link rel="stylesheet" href="/styles/master.css" />
    </head>

    <body>
        [[[wfd_common:notification_area()]]]
        <div id="container">
            <div id="header">
                <div id="pre-toolbar">
                    <div id="logo"><a href="/"><img class="logo" src="/images/logo.png" /></a></div>
                    <div id="search"><form><input type="text" /> <input type="submit" value="Search" /></form></div>
                </div>

            </div>
            <div id="toolbar">
                <div id="logo-descenders"><img class="logo" src="/images/logo-descenders.png" /></div>
                <span id="toolbar-left-links">[[[wfd_common:left_toolbar_links()]]]</span>
                <span id="toolbar-right-links">[[[wfd_common:right_toolbar_links()]]]</span>
            </div>

            <div id="content">
                [[[page:content()]]]
            </div>
        </div>

        <script type='text/javascript'>
            [[[script]]]
        </script>
    </body>
</html>
