@media only screen and (min-width: 400px){
    .ui-content {
        max-width: 400px;
        margin: 0 auto;
        position: relative;
    }

    .ui-dialog-contain {
        max-width: 400px;
    }
}

.LV_validation_message {
    float: right;
    font-size: small;
}

#dish_settings .LV_validation_message,
.ingredients .LV_validation_message {
    float: none;
}

.LV_invalid {
    color: #aa0000;
}

.hint {
    font-size: small;
}

#ingredients_list .ui-listview-filter-inset {
    margin-top: 0;
}

#dishes_list .ui-listview-filter {
    display: none;
}

#dishes_list .ui-li-heading {
    margin: 1.2em 0 0 0;
}

.box {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.box > * {
    display: table-cell;
    vertical-align: middle;
}

.box .ui-btn {
    margin: 0;
}

.ingredients .ui-li-static {
    padding-top: 0;
    padding-bottom: 0;
}

#notification {
    position: absolute;
    top: 0.25em;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

#notification h4 {
    display: inline;
    padding: 0.25em 0.5em;
}

/* From http://monocaffe.blogspot.com/2013/05/a-jquery-mobile-progress-bar.html */
.progress-bar input[type=number], .progress-bar .ui-slider-handle {
    display: none;
}  

.progress-bar .ui-slider-track {
    margin: 0px;
}

.ui-btn-text {
    /* Don't let upload button overflow into ellipses */
    position: static;
}
