@media only screen and (min-width: 480px){
    .ui-content {
        width: 400px;
        margin: 0 auto !important;
        position: relative !important;
    }
}

.LV_validation_message {
    float: right;
    font-size: small;
}

.LV_invalid {
    color: #aa0000;
}

.hint {
    font-size: small;
}

.ui-listview-filter {
    display: none;
}

#dishes_list .ui-li-heading {
    margin: 1.2em 0 0 0;
}
